#employee-table th,
td {
  display: inline-block;
  width: 16.575%;
}

body{
    background-image: url(./paul-jarvis-o0lnBAQ175A-unsplash.jpg);
}

.fallingLeafAnimate{
    text-align: center;
}

/* .fallingLeafAnimate span{ */
    /* display: inline-block; */
     /* width: 30px;  */
     /* height: 30px;  */
    /* background: url(./leaf\ 5.jpg); */
/* } */